$primary-light: #707070;
$primary-white: #ededed;
$primary-dark: #202020;
$primary-completed: #909497;

.todo {
  &__list {
    color: $primary-white;
  }
  &__add {
    display: flex;
    border: 1px solid $primary-light;
    border-width: 1px 0px 1px 0px;
    padding: 12px;
  }
  &__completed {
    text-decoration: line-through;
    color: $primary-completed;
    font-weight: normal;
  }
  &__completedCount {
    color: $primary-completed;
    margin-top: 30px;
    margin-left: 45px;
  }
  &__addItem {
    background-color: $primary-dark;
    border: none;
    outline: none;
    width: 100%;
    margin-left: -10px;
  }
  &__addItem:focus {
    color: $primary-white;
  }
  &__addIcon {
    color: $primary-light;
    margin: auto;
    margin-right: 20px;
    font-size: 15px;
    margin-left: 30px;
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  border-radius: 10%;
  border: solid 0.15rem $primary-light;
  margin-top: 10px;
  margin-right: 10px;
}

input[type="checkbox"]:checked + *::before {
  content: "✓";
  color: $primary-light;
  text-align: center;
}

.downArrow {
  margin-right: 20px;
}
